
## Projekt OS, uppvärmning


Uppgift 0 - Uppvärmning
  a. hur många länder som är med i datan?
  b. vilka länder är med? (förkortningarna räcker)
  c. vilka sporter är med?
  d. vilka medaljtyper finns det?
  e. ta reda på statistik för åldern: medelvärde, median, min, max, standardavvikelse,
  f. utforska datan vidare med egna frågor
Se även till att plotta några intressanta features, exempelvis:
  g. diagram över könsfördelningen
  h. diagram över topp 10 länder som tagit flest medaljer
  i. plotta gärna fler saker som är intressant.

Uppgift 1 - Landstatistik

hashfunktionen SHA-256.

Undersök därefter hur det gått för landet i OS genom tiderna. Visualisera exempelvis:
de sporter landet fått flest medaljer i
antal medaljer per OS
histogram över åldrar
Skapa fler plots för att visualisera flera aspekter kring ert land och dess sportprestationer i OS.
Uppgift 2 - Sportstatistik
Välj 2-4 sporter och skapa lämpliga grafer/diagram för att visualisera exempelvis:
medaljfördelning mellan länder i sporterna
åldersfördelning i sporterna
Skapa fler plots för att visualisera olika aspekter kring sporterna.

In [125]:
# Index(['ID', 'Name', 'Sex', 'Age', 'Height', 'Weight', 'Team', 'NOC', 'Games',
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import seaborn as sns


df = pd.read_csv("data/athlete_events.csv")

df.head(5)

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

In [ ]:
# Index(['ID', 'Name', 'Sex', 'Age', 'Height', 'Weight', 'Team', 'NOC', 'Games',
#'Year', 'Season', 'City', 'Sport', 'Event', 'Medal'],#
# a. hur många länder som är med i datan?  b. vilka länder är med? (förkortningarna räcker)  c. vilka sporter är med?  d. vilka medaljtyper finns det?  e. ta reda på statistik för åldern: medelvärde, median, min, max, standardavvikelse,  f. utforska datan vidare med egna frågorSe även till att plotta några
# grafer som visar något intressant om datan.  g. skriv en kort rapport om vad du hittat i datan, och vad du kan tänka dig att använda den till.
# a) countries
# hur många länder är med

countries_total = df["NOC"].nunique()

print(countries_total)
print(f'{df["NOC"].nunique()}\n')


# backslash = alt + 92 = \n
# b)
# vilka länder är med

countries_str = df["NOC"].unique()

print(countries_str.tolist())
print(f'{df["NOC"].unique().tolist()}\n')


# c)
# vilka sporter är med
different_sports = df["Sport"].unique()

print(different_sports.tolist())
print(f'{df["Sport"].unique().tolist()}\n')


# d)
# vilka medaljtyper finns det
medal_type = df["Medal"].dropna().unique().tolist()
print(medal_type)
print(f'{df["Medal"].dropna().unique().tolist()}')


# e)  e. ta reda på statistik för åldern: medelvärde, median, min, max, standardavvikelse
###

method = ["mean", "median", "min", "max", "std"] # svenska
for i in method:
    print(f'Age {i}: {df["Age"].__getattribute__(i)()}')




#age_mean = df["Age"].mean()
#age_median = df["Age"].median()
#age_min = df["Age"].min()
#age_max = df["Age"].max()
#age_std = df["Age"].std()
#
#print(f'Age mean: {age_mean}')
#print(f'Age median: {age_median}')
#print(f'Age min: {age_min}')
#print(f'Age max: {age_max}')
#print(f'Age std: {age_std}\n')


#   vilka länder är med? (förkortningarna räcker

# vilka sporter är med?

## medal repeat, had to drop index 0